[Unit]
Description=what is pill main server

[Service]
Type=simple
User=ubuntu
Group=ubuntu
Environment=PATH=/must_be_madness/what_is_pill/wip-main-server-v2
EnvironmentFile=${PATH}/.env
WorkingDirectory=${PATH}
ExecStart=node ${PATH}/src/app.js
Restart=always
StandardError=append:${PATH}/logs/error.log

[Install]
WantedBy=multi-user.target